.navbar-default{
  padding-bottom: 1.5em;
}
#show-jumbo {
  position: relative;
  background: #000 url("../images/TTSS-showcase-03-900x300.png") center center;
  color: white;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}
#camp-jumbo{
  position: relative;
  background: #fff url("../images/event-header-image.jpg") center center;
  color: white;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}
#team-jumbo{
  position: relative;
  background: #000 url('../images/TTSS-team-bg-header.jpg') center center;
  color: white;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}
.camp-logo-img{
  margin-bottom: 2em;
}
.main-title{
  max-width: 400px;
  text-align: center;
}
.main-title-showcase{
  background-color: rgba(0, 0, 0, 0);
  width: auto;
}
.main-title-camp{
  background-color: rgba(0, 0, 0, 0.4);
  width: 40%;
}


.title-row{
  line-height: 1.8;
  background-color: #F5F5F5;
  padding: 1em 0;
  margin-top: -2.1em;

}
.title-row h2{
  padding-bottom: 0.5em;
  border-bottom: 1px solid navy;
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.camp-intro{
  margin-bottom: 2em;
}
.camp-event{
  text-align: center;
  background-color: rgba(236,239,241 ,0.3);
  margin-bottom: 1em;
  padding:0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.camp-event-header{
  height: auto;
  width: 100%;
  margin: 0 0 0.75em 0;
  padding: 1em;
  color: #fff;
  background: #4682B4;
}
.camp-event-header a, .camp-event-header a:hover{
  text-decoration: none;
  color: #fff;
}
.camp-event-features{
  /*margin-bottom: 2em;*/
  padding: auto 1em;
}
.camp-event-register{
  margin: auto 2em;
  padding: 1em;
}
.event-feature-list{
  padding-bottom: 0.75em;
}

/*New - Feb 17*/
.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
  color: #fff;
}
.sliding-middle-out:hover{
  color: #fff;
  text-decoration: none;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .8s ease, background-color .8s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #fff;
}

 .call-action-btn{
   display: inline-block;
    position: relative;
    margin-bottom: 3em;
    padding: 1em;
    background: #fe6f5e;
    color: #fff;
    width: 32em;
    height: 4em;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: background-color .5s ease-in-out;
    transition: box-shadow .5s ease-in-out;
    transition: width .3s linear;
  }
  .call-action-btn:hover{
    margin-bottom: 3em;
    background: #fe6f5e;
    color: #fff;
    width: 36em;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

  }
/*End New Feb-17*/


.mobile-show-btn-title{
  display: none;
}
.showcase-event-container{
  padding: 3em;
  margin: 2em auto;
  background: aliceblue;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

#event-logo{
  margin-left: auto;
  margin-right: auto;
}
.register-here-btn{
  text-decoration: none;
  color:white;
}
 .register-here-btn:hover{
   text-decoration: none;
   color:white;
 }
 .disclaimer{
   font-size: 9px;
 }
 .price{
   color: whitesmoke;

 }
 .schools-1{
   border-right: 1px solid grey;
 }
 .attending-schools-event-title{
   text-decoration: underline;
   font-weight: bold;
 }
 .highlight {
     color: #4682B4;
     font-weight:bold;
 }

 .vid-container{
   background-color: whitesmoke;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: -2em;

 }
 .vid-row{
   padding-top: 3em;


 }
 .vid-row p{
   margin-top: 3em;
 }


 /**/

 @media (max-width: 880px) {
   .main-title{
     background-color: rgba(0, 0, 0, 0);
     width: 100%;
     font-size: 4.5em;
   }
   .vid-row p{
     margin-top: auto;
   }

   #camp-jumbo{
     display: none;
   }
   .camp-logo-img{
     margin-top: 1em;
   }
   .mobile-hide-btn-title{
     display: none;
   }
   .mobile-show-btn-title{
     display: inline;
   }
   .call-action-btn{
     width: 10em;
     height: auto;
     text-align: center;
     margin: 1em auto 3em auto;
     padding: 1em;
   }
   .call-action-btn:hover{
     width: 15em;
     height: auto;
     margin: 1em auto 3em auto;
   }
 	}
