/*reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
body {
  background: #fff;
}
/********************************** Navigation ********************************/
.navbar-default {
  border:none;
  margin-bottom:-10px;
  min-height:74.38px;
  padding:.8em .7em;
  text-transform:uppercase;
}
.active-home {
  margin-bottom:18px;
}
.active-nav {
  background-color:#fff;
  border-top:2px solid navy;
  color:navy;
  font-weight:500;
  margin-bottom:5px;
  margin-top:-2px;
}
.bar-logo {
  height:60px;
  margin-left:-5.25em;
  margin-top:-1em;
  min-height:60px;
  min-width:160px;
  width:160px;
}
#nav-tel {
  color:#3B5998;
  font-size:13px;
  font-weight:500;
  margin-right:-2.25em;
}
.between {
  margin-bottom:-5px;
  margin-top:-10px;
  text-align:center;
}
.main-title {
  background:rgba(0,0,0,0.8);
  font-size:100px;
  font-weight:500;
  padding:25px;
  width:auto;
}
.landing-jumbo {
  background-color:#fff;
  margin-bottom:0;
  margin-top:0;
  padding-bottom:15px;
  padding-top:0;
}
/********************************  Tag Line   *********************************/
#tagline {
  background:#fff;
  margin-top:1em;
  padding-bottom:1em;
  padding-top:4em;
}
#grabber {
  border-bottom:1px solid navy;
  font-weight:400;
  margin-bottom:.3em;
  padding-bottom:10px;
}
#brand-name {
  color:navy;
  font-weight:400;
}
/************************************ Welcome ********************************/
#welcome-row {
  margin-top:-50px;
}
#welcome-msg {
  border-bottom:1px dashed #F5F5F5;
  font-weight:400;
  margin-top:-50px;
  padding-bottom:.5em;
  padding-top:0;
  text-align:left;
}
#welcome-img {
  background:#fff;
  height:240px;
  margin-bottom:1.5em;
  margin-right:1em;
  margin-top:1em;
  width:360px;
}
#welcome-slogan {
  margin-bottom:.2em;
  margin-top:0;
  padding:0;
}
.welcome-detail {
  line-height:1.5;
  margin-bottom:.5em;
  margin-top:-.5em;
  padding:.5em;
  text-align:left;
}
#welcome-checks {
  font-size:1.2em;
  line-height:1.8;
  list-style-type:none;
  margin-left:2em;
  margin-top:.15em;
  text-align:left;
  width:auto;
}
#welcome-content {
  margin-bottom:45px;
  margin-right:0;
}
.references {
  background:#FFF;
  background-size:cover;
  margin-top:-2em;
  overflow:hidden;
  padding-bottom:35px;
  padding-top:30px;
}
.references p {
  margin-bottom:3em;
  margin-top:3em;
}
.award-numbers {
  margin-top:-2em;
  padding-top:0;
}
/************************************ Services ********************************/
.title-service-index{
  font-size: 30px !important;
  font-weight: 300;
  border-bottom: 1px solid navy;
  margin-top: 1em;
}
/************************************ Service btns ********************************/
                                /*LEARN MORE BUTTONS*/
.prev-advisory {
  background-color:rgba(255,255,255,0.2);
  box-shadow:0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  color:#000;
  padding-bottom:1.45em;
}
.prev-showcase {
  background-color:rgba(255,255,255,0.2);
  border-left:1px solid grey;
  box-shadow:0 2px 17px 0 rgba(0,0,0,.2), 0 6px 2px 0 rgba(0,0,0,.19);
  color:#000;
  padding-bottom:1.5em;
}
.prev-camp {
  background-color:rgba(255,255,255,0.2);
  border-left:1px solid grey;
  box-shadow:0 8px 17px 0 rgba(0,0,0,.2), 0 6px 2px 0 rgba(0,0,0,.19);
  color:#000;
  padding-bottom:1.5em;
}
.btn.outline {
  background:none;
  margin-bottom:30px;
  padding:12px 22px;
}
.btn-info {
  background-color:#448AFF;
  border:none;
  border-radius:10px;
  color:#fff;
  padding:5px 75px;
}
.btn-info.outline:hover,.btn-info.outline:focus,.btn-info.outline:active,.btn-info.outline.active,.open > .dropdown-toggle.btn-info {
  border-color:#33a6cc;
  color:#33a6cc;
}
.btn-info.outline:active,.btn-info.outline.active {
  border-color:#007299;
  box-shadow:none;
  color:#007299;
}
.skillicon {
  display:block;
  text-align:center;
}
.page-header {
  text-align:center;
}
.thumbnail {
  background:none;
  border:none;
  padding:0 auto;
}
.thumbnail img {
  border:1px #FFF solid;
}
.service {
  background:#000 url(../images/TTSS-service-prev-bg.jpg) center center;
  background-size:cover;
  color:#F8F8FF;
  overflow:hidden;
  padding-bottom:25px;
  padding-top:40px;
}
.service h3 {
  margin-bottom:15px;
  margin-top:5px;
  vertical-align:bottom;
}
.service p {
  line-height:1.5;
  margin-bottom:35px;
  vertical-align:text-top;
}
.icon {
  height:auto;
  margin-bottom:20px;
  margin-top:30px;
  padding-top:0;
  width:100px;
}
#advisory-icon {
  margin-bottom:15px;
  margin-top:20px;
}
#advisory-title {
  margin-top:0;
  padding-top:0;
}
#camp-icon {
  height:auto;
  margin-top:32px;
  width:105px;
}
#camp-title {
  margin-top:8px;
}
.contact {
  background:#000 url(../images/TTSS-team-bg-header.jpg) center center;
  background-size:cover;
  color:#fff;
  overflow:hidden;
  padding-bottom:35px;
  padding-top:70px;
}
.contact p {
  margin-bottom:3em;
  margin-top:3em;
}
.contact .page-header {
  text-align:justify;
}
footer .container {
  margin-bottom:35px;
  margin-top:35px;
}
textarea {
  resize:none;
}
#advisory-learn,#showcase-learn,#camp-learn {
  bottom:0;
  margin:0;
}
/* --------------------------------

Testimonials Slider & Modal

-------------------------------- */
#tests-title {
  border-bottom:1px solid navy;
  font-weight:300;
  margin-bottom:0;
}
#gallery-title {
  border-bottom:1px solid navy;
  font-weight:300;
  margin-top:0;
}

/*--PERM--testimonial structure--*/
.cd-testimonials-wrapper{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;background-color:#39393c;margin:2em auto;padding:20px 40px 70px;position:relative;width:100%;z-index:1}.cd-testimonials-wrapper::after{background:rgba(32,32,34,0.9);color:#fff;content:'\201C';display:none;font-family:Georgia, serif;font-size:4.375rem;height:50px;left:0;margin-left:0;margin-top:-5px;padding-top:8px;position:absolute;text-align:center;top:9px;width:50px}.cd-testimonials{color:#fff;text-align:center}.cd-testimonials > li{opacity:0;position:absolute}.cd-testimonials > li:first-child{opacity:1;position:relative}.cd-testimonials p{font-family:Georgia, serif;font-style:italic;line-height:1.4;margin-bottom:1em;padding:0 14px}.cd-author img,.cd-author .cd-author-info{display:inline-block;vertical-align:middle}.cd-author img{border-radius:50%;box-shadow:0 0 6px rgba(0,0,0,0.3);height:32px;margin-right:5px;width:32px}.cd-author .cd-author-info{line-height:1.2;text-align:left}.cd-author .cd-author-info li:first-child{font-size:14px}.cd-author .cd-author-info li:last-child{color:#6b6b70;font-size:12px}.flex-direction-nav li{height:100%;position:absolute;top:0;width:40px}.flex-direction-nav li:first-child{left:0}.flex-direction-nav li:last-child{right:0}.flex-direction-nav li a{-moz-transition:background-color .2s;-webkit-transition:background-color .2s;display:block;height:100%;overflow:hidden;text-indent:100%;transition:background-color .2s;white-space:nowrap;width:100%}.no-touch .flex-direction-nav li a:hover{background-color:#323234}.flex-direction-nav li a::before,.flex-direction-nav li a::after{background-color:#fff;content:'';height:13px;left:50%;position:absolute;top:50%;width:2px}.flex-direction-nav li a::before{-moz-transform:translateY(-35px) rotate(45deg);-ms-transform:translateY(-35px) rotate(45deg);-o-transform:translateY(-35px) rotate(45deg);-webkit-transform:translateY(-35px) rotate(45deg);transform:translateY(-35px) rotate(45deg)}.flex-direction-nav li a::after{-moz-transform:translateY(-27px) rotate(-45deg);-ms-transform:translateY(-27px) rotate(-45deg);-o-transform:translateY(-27px) rotate(-45deg);-webkit-transform:translateY(-27px) rotate(-45deg);transform:translateY(-27px) rotate(-45deg)}.flex-direction-nav li:last-child a::before{-moz-transform:translateY(-35px) rotate(-45deg);-ms-transform:translateY(-35px) rotate(-45deg);-o-transform:translateY(-35px) rotate(-45deg);-webkit-transform:translateY(-35px) rotate(-45deg);transform:translateY(-35px) rotate(-45deg)}.flex-direction-nav li:last-child a::after{-moz-transform:translateY(-27px) rotate(45deg);-ms-transform:translateY(-27px) rotate(45deg);-o-transform:translateY(-27px) rotate(45deg);-webkit-transform:translateY(-27px) rotate(45deg);transform:translateY(-27px) rotate(45deg)}.cd-see-all{-moz-transition:color, .2s;-webkit-transition:color, .2s;background-color:#252527;bottom:0;color:#6b6b70;font-size:12px;font-weight:700;height:50px;left:0;line-height:50px;position:absolute;text-align:center;text-transform:uppercase;transition:color, .2s;width:100%;z-index:1}.no-touch .cd-see-all:hover{color:#79b6e4}.cd-testimonials-all{-moz-transition:opacity .3s 0 visibility 0 .3s;-webkit-transition:opacity .3s 0 visibility 0 .3s;background-color:#fff;height:100%;left:0;opacity:0;position:fixed;top:0;transition:opacity .3s 0 visibility 0 .3s;visibility:hidden;width:100%;z-index:3}.cd-testimonials-all .cd-testimonials-all-wrapper{height:100%;left:0;overflow:auto;position:absolute;top:0;width:100%}.cd-testimonials-all .cd-testimonials-all-wrapper > ul{margin:4em auto;max-width:1170px;width:90%}.cd-testimonials-all .cd-testimonials-item{-moz-transform:translate3d(0,0,0) scale(0.4);-moz-transition:0 .3s, opacity .3s;-ms-transform:translate3d(0,0,0) scale(0.4);-o-transform:translate3d(0,0,0) scale(0.4);-webkit-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0) scale(0.4);-webkit-transition:0 .3s, opacity .3s;backface-visibility:hidden;margin-bottom:2em;opacity:0;transform:translate3d(0,0,0) scale(0.4);transition:transform .3s, opacity .3s}.cd-testimonials-all p{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;background:#79b6e4;border-radius:.25em;color:#fff;line-height:1.4;margin-bottom:1em;padding:2em;position:relative}.cd-testimonials::after,.cd-testimonials-all .cd-testimonials-all-wrapper > ul::after{clear:both;content:"";display:table}.cd-testimonials-all p::after{border: 8px solid transparent;border-top-color: #79b6e4;content: '';height: 0;left: 2em;position: absolute;top: 100%;width: 0}.cd-testimonials-all .cd-author{margin-left: 1.5em;text-align: left}.cd-testimonials-all .cd-author img{box-shadow: 0 0 0 transparent}.cd-testimonials-all.is-visible{-moz-transition: opacity .3s 0 visibility 0 0;-webkit-transition: opacity .3s 0 visibility 0 0;opacity: 1;transition: opacity .3s 0 visibility 0 0;visibility: visible}.cd-testimonials-all.is-visible .cd-testimonials-all-wrapper{-webkit-overflow-scrolling: touch}.cd-testimonials-all.is-visible .cd-testimonials-item{-moz-transform: translate3d(0, 0, 0) scale(1);-ms-transform: translate3d(0, 0, 0) scale(1);-o-transform: translate3d(0, 0, 0) scale(1);-webkit-transform: translate3d(0, 0, 0) scale(1);opacity: 1;transform: translate3d(0, 0, 0) scale(1)}.close-btn{display: block;height: 40px;overflow: hidden;position: fixed;right: 5%;text-indent: 100%;top: 10px;white-space: nowrap;width: 40px}.close-btn::before,.close-btn::after{background-color: #39393c;content: '';display: inline-block;height: 24px;left: 19px;position: absolute;top: 8px;width: 2px}.close-btn::before{-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg)}.close-btn::after{-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg)}
/*colors for testimonials*/

#case-1 {
    background: #0068b1;
}
p#case-1::after {
    border-top-color: #0068b1;
}
#case-2 {
    background: #310067;
}
p#case-2::after {
    border-top-color: #310067;
}
#case-3 {
    background: #84061c;
}
p#case-3::after {
    border-top-color: #84061c;
}
#case-4 {
    background: #d7b98a;
}
p#case-4::after {
    border-top-color: #d7b98a;
}
#case-5 {
    background: #c81435;
}
p#case-5::after {
    border-top-color: #c81435;
}
#case-6 {
    background: #006243;
}
p#case-6::after {
    border-top-color: #006243;
}
#case-7 {
    background: #cc0001;
}
p#case-7::after {
    border-top-color: #cc0001;
}
#case-8 {
    background: #871225;
}
p#case-8::after {
    border-top-color: #871225;
}
#case-9 {
    background: #a90340;
}
p#case-9::after {
    border-top-color: #a90340;
}
#case-10 {
    background: #75213b;
}
p#case-10::after {
    border-top-color: #75213b;
}
#case-11 {
    background: #00234d;
}
p#case-11::after {
    border-top-color: #00234d;
}
#case-12 {
    background: #f34140;
}
p#case-12::after {
    border-top-color: #f34140;
}
#case-13 {
    background: #01153f;
}
p#case-13::after {
    border-top-color: #01153f;
}
#case-14 {
    background: #b32122;
}
p#case-14::after {
    border-top-color: #b32122;
}
#case-15 {
    background: #007bbf;
}
p#case-15::after {
    border-top-color: #007bbf;
}
#case-16 {
    background: #c8003a;
}
p#case-16::after {
    border-top-color: #c8003a;
}
#case-17 {
    background: #ed1b2e;
}
p#case-17::after {
    border-top-color: #ed1b2e;
}
#case-18 {
    background: #790009;
}
p#case-18::after {
    border-top-color: #790009;
}
#case-19 {
    background: #003468;
}
p#case-19::after {
    border-top-color: #003468;
}
#case-20 {
    background: #f48221;
}
p#case-20::after {
    border-top-color: #f48221;
}
#case-21 {
    background: #14619a;
}
p#case-21::after {
    border-top-color: #14619a;
}
#case-22 {
    background: #b5121d;
}
p#case-22::after {
    border-top-color: #b5121d;
}
#case-23 {
    background: #002e61;
}
p#case-23::after {
    border-top-color: #002e61;
}
#case-25 {
    background: #7a112c;
}
p#case-25::after {
    border-top-color: #7a112c;
}
#case-26 {
    background: #005dac;
}
p#case-26::after {
    border-top-color: #005dac;
}
#case-27 {
    background: #5a94c8;
}
p#case-27::after {
    border-top-color: #5a94c8;
}
#case-28 {
    background: #000e3b;
}
p#case-28::after {
    border-top-color: #000e3b;
}
#case-29 {
    background: #06143f;
}
p#case-29::after {
    border-top-color: #06143f;
}
#case-30 {
    background: #092f87;
}
p#case-30::after {
    border-top-color: #092f87;
}
#case-31 {
    background: #d12030;
}
p#case-31::after {
    border-top-color: #d12030;
}
#case-32 {
    background: #271e7e;
}
p#case-32::after {
    border-top-color: #271e7e;
}
#case-33 {
    background: #5c2aa1;
}
p#case-33::after {
    border-top-color: #5c2aa1;
}
#case-34 {
    background: #b20838;
}
p#case-34::after {
    border-top-color: #b20838;
}
#case-35 {
    background: #31598a;
}
p#case-35::after {
    border-top-color: #31598a;
}
#case-36 {
    background: #901822;
}
p#case-36::after {
    border-top-color: #901822;
}
#case-37 {
    background: #30112c;
}
p#case-37::after {
    border-top-color: #30112c;
}
#case-38 {
    background: #025ca6;
}
p#case-38::after {
    border-top-color: #025ca6;
}
#case-39 {
    background: #242223;
}
p#case-39::after {
    border-top-color: #242223;
}
#case-40 {
    background: #419ed8;
}
p#case-40::after {
    border-top-color: #419ed8;
}
#case-41 {
    background: #00703c;
}
p#case-41::after {
    border-top-color: #00703c;
}
#case-42 {
    background: #b11f25;
}
p#case-42::after {
    border-top-color: #b11f25;
}
#case-43 {
    background: #e51937;
}
p#case-43::after {
    border-top-color: #e51937;
}
#case-44 {
    background: #007631;
}
p#case-44::after {
    border-top-color: #007631;
}
#case-45 {
    background: #19406b;
}
p#case-45::after {
    border-top-color: #19406b;
}
p#case-52 {
    background: #7e0001;
}
p#case-52::after {
    border-top-color: #7e0001;
}
p#case-53 {
    background: #f07623;
}
p#case-53::after {
    border-top-color: #f07623;
}
p#case-54 {
    background: #003F87;
}
p#case-54::after {
    border-top-color: #003F87;
}
p#case-55 {
    background: #cd0f2d;
}
p#case-55::after {
    border-top-color: #cd0f2d;
}
p#case-56 {
    background: #143a7b;
}
p#case-56::after {
    border-top-color: #143a7b;
}
p#case-57 {
    background: #fdba31;
}
p#case-57::after {
    border-top-color: #fdba31;
}
p#case-58 {
    background: maroon;
}
p#case-58::after {
    border-top-color: maroon;
}
p#case-wake {
    background: #C49544;
}
p#case-wake::after {
    border-top-color: #C49544;
}
#case-21a,#case-24 {
    background: #c42033;
}
p#case-21a::after,p#case-24::after {
    border-top-color: #c42033;
}

/*******************************Events********************************/
#title-events-index{
  font-weight: 300;
  border-bottom: 1px solid navy;
}
.events-between {
  padding-bottom:9px;
}
.event-list {
  font-family:Lato, sans-serif;
  list-style:none;
  margin:0;
  padding:0;
}
.event-list-paper-bg {
  background:#fff;
  box-shadow:0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  padding:20px;
}
.event-list > li {
  background-color:#fff;
  box-shadow:0 16px 28px 0 rgba(0,0,0,.22), 0 25px 55px 0 rgba(0,0,0,.21);
  margin:0 0 20px;
  padding:0;
}
.event-list > li > time {
  background-color:#789;
  color:#fff;
  display:inline-block;
  padding:5px;
  text-align:center;
  text-transform:uppercase;
  width:100%;
}
.event-list > li:nth-child(even) > time {
  background-color:#4682b4;
}
.event-list > li > time > span {
display:none;
}
.event-list > li > time > .day {
  display:block;
  font-size:56pt;
  font-weight:100;
  line-height:1;
}
.event-list > li time > .month {
  display:block;
  font-size:24pt;
  font-weight:900;
  line-height:1;
}
.event-list > li > img {
  width:100%;
}
.event-list > li > .info {
  padding-top:5px;
  text-align:center;
}
.event-list > li > .info > .title {
  font-size:17pt;
  font-weight:700;
  margin:0;
}
.event-list > li > .info > .desc {
font-size:13pt;
font-weight:300;
margin:0;
}
.event-list > li > .info > ul,.event-list > li > .social > ul {
  display:table;
  list-style:none;
  margin:10px 0 0;
  padding:0;
  text-align:center;
  width:100%;
}
.event-list > li > .social > ul {
  margin:0;
}
.event-list > li > .info > ul > li,.event-list > li > .social > ul > li {
  color:#1e1e1e;
  cursor:pointer;
  display:table-cell;
  font-size:11pt;
  font-weight:300;
  padding:3px 0;
}
.event-list > li > .info > ul > li > a {
  border-right:1px solid #D3D3D3;
  color:#1e1e1e;
  display:block;
  text-decoration:none;
  width:100%;
}
.event-list > li > .social > ul > li {
  padding:0;
}
.event-list > li > .social > ul > li > a {
  padding:3px 0;
}
.event-list > li > .info > ul > li:hover,.event-list > li > .social > ul > li:hover {
  background-color:#c8c8c8;
  color:#1e1e1e;
}
.facebook a,.twitter a,.google-plus a {
  color:#4b6ea8!important;
  display:block;
  width:100%;
}
.twitter a {
  color:#4fd5f8!important;
}
.google-plus a {
  color:#dd4b39!important;
}
.facebook:hover a {
  background-color:#4b6ea8!important;
  color:#fff!important;
}
.twitter:hover a {
  background-color:#4fd5f8!important;
  color:#fff!important;
}
.google-plus:hover a {
  background-color:#dd4b39!important;
  color:#fff!important;
}
.ticket-hr {
  border-top:1px solid #D3D3D3;
}
.event-li {
  position:relative;
}
.darkclass {
  background-color:rgba(50,50,50,0.5);
  background-position:center;
  background-repeat:no-repeat;
  color:lime;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:2;
}
.event-done-check {
  margin-top:.2em;
}

/*Contact Us*/

.header{
  background-color:#F5F5F5;
  color:#36A0FF;
  font-size:27px;
  height:70px;
  padding:10px;
}
/*Footer*/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}
.footer-distributed .footer-left,.footer-distributed .footer-center,.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto';
	margin: 0;
}
.footer-distributed h3 span{
	color:  steelblue;
}

/* Footer links */
.footer-distributed .footer-links {
color:#fff;
margin:20px 0 12px;
padding:0;
}
.footer-distributed .footer-links a {
color:inherit;
display:inline-block;
line-height:1.8;
text-decoration:none;
}
.footer-distributed .footer-links a:hover {
color:#4682B4;
display:inline-block;
line-height:1.8;
text-decoration:none;
}
.footer-distributed .footer-company-name {
color:#8f9296;
font-size:14px;
font-weight:400;
margin:0;
}

/* Footer Center */
.footer-distributed .footer-center {
text-align:left;
width:35%;
}
.footer-distributed .footer-center i {
background-color:#33383b;
border-radius:50%;
color:#fff;
font-size:25px;
height:38px;
line-height:42px;
margin:10px 15px;
text-align:center;
vertical-align:middle;
width:38px;
}
.footer-distributed .footer-center i.fa-envelope {
font-size:17px;
line-height:38px;
}
.footer-distributed .footer-center p {
color:#fff;
display:inline-block;
margin:0;
vertical-align:middle;
}
.footer-distributed .footer-center p span {
display:block;
font-size:14px;
font-weight:400;
line-height:2;
}
.footer-distributed .footer-center p a {
color:#4682B4;
text-decoration:none;
}

/* Footer Right */
.footer-distributed .footer-right {
width:20%;
}
.footer-distributed .footer-company-about {
color:#92999f;
font-size:13px;
font-weight:400;
line-height:20px;
margin:0;
}
.footer-distributed .footer-company-about span {
color:#fff;
display:block;
font-size:14px;
font-weight:700;
margin-bottom:20px;
}
.footer-distributed .footer-icons {
margin-top:25px;
}
.footer-distributed .footer-icons a {
background-color:#33383b;
border-radius:2px;
color:#fff;
cursor:pointer;
display:inline-block;
font-size:20px;
height:35px;
line-height:35px;
margin-bottom:5px;
margin-right:3px;
text-align:center;
width:35px;
}
.footer-icons a:hover {
background-color:#4682B4;
}
.footer-tel {
color:#4682B4;
font-size:16px;
text-decoration:none;
}
.footer-tel:hover {
color:#4682B4;
text-decoration:none;
}

/*TERMS AND CONDITIONS SECTION*/
.terms-conditions-title{
  margin-top:3em;
}
.text-indent{
  margin-left:2em;
}

/*PARTNERSHIPS SECTION*/
.container-partnership-ua{
background-image:url(../images/TTSS-partner-UA-bg.jpg);
}
.partner-ua-logo{
margin:3.5em auto 4em;
}
.partner-ua-image{
padding:2em;
}
.partner-ua-text{
background-color:rgba(0,0,0,0.6);
color:#fff;
margin:2.5em auto;
padding:1em 2em;
}
.container-partnership-csp{
background-image:url(../images/TTSS-partner-CSP-bg-alt.jpg);
background-size:cover;
}
.partner-csp-logo{
border-bottom:.25em solid #000;
margin:1em auto;
padding:.5em;
}
.partner-csp-text{
background-color:rgba(255,255,255,0.4);
margin:1em auto;
padding:2em;
}
.partner-csp-text p{
margin:1em auto;
}
.company-name{
text-transform:uppercase;
}
.ttss-logo-big{
margin-left:auto;
margin-right:auto;
}


/*****************Media-QUERIES**************************/


/*COMMITMENT PICS*/
.commit-container{
  margin-top: -1em;
  margin-bottom: 5em;
}
.college-commit-toggle{
  margin: 0;
  width: 100%;
  height: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 12px;
  transition: all .2s;
  border-radius: 0;
  text-decoration: none;
  color: #6b6b70;
  background-color: #252527;
}
.college-commit-toggle:hover{
  color: #79b6e4;
  text-decoration: underline;
}
.college-commit-toggle:focus{
  background: #000;
}
.commit-prev-show{
display: none;
}
.college-commit-pic{
  margin: 0;
  padding: 0;
}.commit-row-balance{
  background: #111;
}
.what-they-say{
  margin-top: 1em;
}
.event-area-bg-img{
  background: url('../images/TTSS-event-section-bg.jpg');
}
.event-area-bg-color{
  background: rgba(235, 235, 235, 0.81);
  padding-top: 2em;
  padding-bottom: 1.5em;
}
/*new feb 2017*/
.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
  color: #fff;
}
.sliding-middle-out:hover{
  color: #fff;
  text-decoration: none;
}
.sliding-middle-out:after {
	content:'';
	display: block;
	margin: auto;
	height: 3px;
	width: 0;
	background: transparent;
	transition: width .8s ease, background-color .8s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #fff;
}

@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper {
    margin: 4em auto;
    padding: 64px 50px 114px;
  }
  .cd-testimonials p {
    font-size: 22px;
    font-size: 1.375rem;
  }
  .cd-author img {
    width: 50px;
    height: 50px;
  }
  .cd-author .cd-author-info {
    line-height: 1.4;
  }
  .cd-author .cd-author-info li:first-child {
    font-size: 16px;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
  }
  .flex-direction-nav li {
    width: 50px;
  }
  .cd-testimonials-all .cd-testimonials-item {
    width: 46%;
    margin: 0 2% 3em;
  }
  .cd-testimonials-all .cd-author {
    margin-left: 1em;
  }
}
@media only screen and (min-width: 880px) {
  .event-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }
  .event-list > li > time, .event-list > li > img  {
    display: inline-block;
  }
  .event-list > li > time, .event-list > li > img {
    width: 120px;
    float: left;
  }
  .event-list > li > .info {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
  }
  .event-list > li > time, .event-list > li > img {
    width: 120px;
    height: 120px;
    padding: 0;
    margin: 0px;
  }
  .event-list > li > .info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
  }
  .event-list > li > .info > .title, .event-list > li > .info > .desc {
    padding: 0px 10px;
  }
  .event-list > li > .info > ul {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .event-list > li > .social {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
  }
  .event-list > li > .social > ul {
    border-left: 1px solid rgb(230, 230, 230);
  }
  .event-list > li > .social > ul > li {
    display: block;
    padding: 0;
    line-height: 1;
  }
  .event-list > li > .social > ul > li > a {
    display: block;
    width: 40px;
    padding: 14px 0px 12px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-wrapper::after {
    /* quotation mark visible */
    display: block;
  }
  .cd-testimonials p {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.6;
  }
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    background-color: #5e5e63;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
    background-color: #ffffff;
  }
  .cd-testimonials-all .cd-testimonials-item {
    width: 30%;
    margin: 0 1.6666% 3em;
  }
}

@media (max-width: 880px) {
  .navbar-header{
    padding-bottom: 1em;
  }
  .bar-logo{
    margin-top:-0.75em;
    margin-left: 0;
    height: 65px;
    width: auto;
  }
  .active-nav{
    border: none;
  }
  .main-title{
    font-size: 32px;
  }
  .prev-advisory{
    padding-bottom: 2em;
    margin-bottom: 1em;
    border-bottom: 1px solid grey;
    border: 1px solid grey;
  }
  .prev-showcase{
    padding-bottom: 2em;
    margin-bottom: 1em;
    border: 1px solid grey;
  }
  .prev-camp{
    padding-bottom: 2em;
    border: 1px solid grey;
  }
	.footer-distributed{
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left, .footer-distributed .footer-center,.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
    margin-left: 0;
		text-align: center;
	}
  .footer-distributed h3{
    font: normal 24px 'Roboto';
  }
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
  .footer-tel-icon{
    margin-left: -8.25em;
  }
  .footer-mail-icon{
    margin-left: -2.25em;
    display:
  }
}
@media (max-width: 320px) {
  .index-title{
    margin-top: -5em;
  }
}
@media all and (max-width: 800px) {
  /*UNDER ARMOUR STYLING*/
  .partner-ua-text{
    margin: auto;
  }
  .partner-ua-text h2{
    display: none;
  }
  .partner-ua-logo{
    border-bottom: 0.2em solid whitesmoke;
    padding-bottom: 1em;
    margin-bottom: -1em;
  }
  /*CSP STYLING*/
  .partner-csp-image{
    margin-top: 2em ;
    margin-bottom: 2em;
  }
  /*commit*/
  .commit-prev{
    display: none;
  }
}
.sub-h2{
  font-size: 30px !important;
}
/*--hero-css-here--*/
#cd-logo img,article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}.cd-header,.cd-hero{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body{line-height:1.42857143}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*,::after,::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}img{max-width:100%}.cd-header{position:absolute;z-index:2;top:0;left:0;width:100%;height:50px;background-color:#21272c}#cd-logo{float:left;margin:13px 0 0 5%}@media only screen and (min-width:768px){.cd-header{height:70px;background-color:transparent}#cd-logo{margin:23px 0 0 5%}}.cd-hero{position:relative}.cd-hero-slider{position:relative;height:360px;overflow:hidden}.cd-hero-slider li{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);-o-transform:translateX(100%);transform:translateX(100%);background-position:center center;background-size:cover;background-repeat:no-repeat}.cd-hero-slider li.selected{position:relative;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}.cd-hero-slider li.move-left{-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-o-transform:translateX(-100%);transform:translateX(-100%)}.cd-hero-slider li.is-moving,.cd-hero-slider li.selected{-webkit-transition:-webkit-transform .5s;-moz-transition:-moz-transform .5s;transition:transform .5s}@media only screen and (min-width:768px){.cd-hero-slider{height:500px}}@media only screen and (min-width:1170px){.cd-hero-slider{height:680px}}.cd-hero-slider li:first-of-type{background-image:url(../images/TTSS-hero-1.jpg)}.cd-hero-slider li:nth-of-type(2){background-color:#3d4952}.cd-hero-slider li:nth-of-type(3),.cd-hero-slider li:nth-of-type(4){background-color:#2c343b}.cd-hero-slider li:nth-of-type(5){background-color:#3d4952}.cd-hero-slider .cd-full-width,.cd-hero-slider .cd-half-width{position:absolute;width:100%;height:100%;z-index:1;left:0;top:0;padding-top:100px;text-align:center;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}.cd-hero-slider .cd-img-container{display:none}.cd-hero-slider .cd-img-container img{height:85%;width:auto;position:absolute;left:50%;top:44%;bottom:auto;right:auto;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}.cd-hero-slider .cd-bg-video-wrapper{display:none;position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden}.cd-hero-slider h2,.cd-hero-slider p{text-shadow:0 1px 3px rgba(0,0,0,.1);line-height:1.2;margin:0 auto 14px;color:#fff;width:90%;max-width:400px}.cd-hero-slider h2{font-size:2.4rem;margin-top:-1.5em}.cd-hero-slider p{font-size:1.4rem;line-height:1.4}.cd-hero-slider .cd-btn{display:inline-block;padding:1.2em 1.4em;border-radius:3px;margin-top:.8em;background-color:rgba(0,0,205,.82);font-size:1.3rem;font-weight:700;letter-spacing:1px;color:#fff;text-transform:uppercase;box-shadow:0 3px 6px rgba(0,0,0,.1);-webkit-transition:background-color .2s;-moz-transition:background-color .2s;transition:background-color .2s}.cd-hero-slider .cd-btn.secondary{background-color:rgba(30,144,255,.9)}.cd-hero-slider .cd-btn:nth-of-type(2){margin-left:1em}.no-touch .cd-hero-slider .cd-btn:hover{text-decoration:none;background-color:rgba(30,144,255,.9)}.no-touch .cd-hero-slider .cd-btn.secondary:hover{background-color:rgba(0,0,205,.82)}@media only screen and (min-width:768px){.cd-hero-slider .cd-bg-video-wrapper,.cd-hero-slider .cd-img-container{display:block}.cd-hero-slider li:nth-of-type(2),.cd-hero-slider li:nth-of-type(3),.cd-hero-slider li:nth-of-type(4){background-image:none}.cd-hero-slider .cd-full-width,.cd-hero-slider .cd-half-width{padding-top:150px}.cd-hero-slider .cd-half-width{width:45%;opacity:0;-webkit-transform:translateX(40px);-moz-transform:translateX(40px);-ms-transform:translateX(40px);-o-transform:translateX(40px);transform:translateX(40px)}.cd-hero-slider .cd-half-width:first-of-type{left:5%}.cd-hero-slider .cd-half-width:nth-of-type(2){right:5%;left:auto}.cd-hero-slider h2,.cd-hero-slider p{max-width:520px}.cd-hero-slider h2{font-size:2.4em;font-weight:300}.cd-hero-slider .cd-btn{font-size:1.4rem}.cd-hero-slider .move-left .cd-half-width{-webkit-transform:translateX(-40px);-moz-transform:translateX(-40px);-ms-transform:translateX(-40px);-o-transform:translateX(-40px);transform:translateX(-40px)}.cd-hero-slider .selected .cd-half-width{opacity:1;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}.cd-hero-slider .is-moving .cd-half-width{-webkit-transition:opacity 0s .5s,-webkit-transform 0s .5s;-moz-transition:opacity 0s .5s,-moz-transform 0s .5s;transition:opacity 0s .5s,transform 0s .5s}.cd-hero-slider li.selected.from-left .cd-half-width:nth-of-type(2),.cd-hero-slider li.selected.from-right .cd-half-width:first-of-type{-webkit-transition:opacity .4s .2s,-webkit-transform .5s .2s;-moz-transition:opacity .4s .2s,-moz-transform .5s .2s;transition:opacity .4s .2s,transform .5s .2s}.cd-hero-slider li.selected.from-left .cd-half-width:first-of-type,.cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2){-webkit-transition:opacity .4s .4s,-webkit-transform .5s .4s;-moz-transition:opacity .4s .4s,-moz-transform .5s .4s;transition:opacity .4s .4s,transform .5s .4s}.cd-hero-slider .cd-full-width .cd-btn,.cd-hero-slider .cd-full-width h2,.cd-hero-slider .cd-full-width p{opacity:0;-webkit-transform:translateX(100px);-moz-transform:translateX(100px);-ms-transform:translateX(100px);-o-transform:translateX(100px);transform:translateX(100px)}.cd-hero-slider .move-left .cd-full-width .cd-btn,.cd-hero-slider .move-left .cd-full-width h2,.cd-hero-slider .move-left .cd-full-width p{opacity:0;-webkit-transform:translateX(-100px);-moz-transform:translateX(-100px);-ms-transform:translateX(-100px);-o-transform:translateX(-100px);transform:translateX(-100px)}.cd-hero-slider .selected .cd-full-width .cd-btn,.cd-hero-slider .selected .cd-full-width h2,.cd-hero-slider .selected .cd-full-width p{opacity:1;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}.cd-hero-slider li.is-moving .cd-full-width .cd-btn,.cd-hero-slider li.is-moving .cd-full-width h2,.cd-hero-slider li.is-moving .cd-full-width p{-webkit-transition:opacity 0s .5s,-webkit-transform 0s .5s;-moz-transition:opacity 0s .5s,-moz-transform 0s .5s;transition:opacity 0s .5s,transform 0s .5s}.cd-hero-slider li.selected h2{-webkit-transition:opacity .4s .2s,-webkit-transform .5s .2s;-moz-transition:opacity .4s .2s,-moz-transform .5s .2s;transition:opacity .4s .2s,transform .5s .2s}.cd-hero-slider li.selected p{-webkit-transition:opacity .4s .3s,-webkit-transform .5s .3s;-moz-transition:opacity .4s .3s,-moz-transform .5s .3s;transition:opacity .4s .3s,transform .5s .3s}.cd-hero-slider li.selected .cd-btn{-webkit-transition:opacity .4s .4s,-webkit-transform .5s .4s,background-color .2s 0s;-moz-transition:opacity .4s .4s,-moz-transform .5s .4s,background-color .2s 0s;transition:opacity .4s .4s,transform .5s .4s,background-color .2s 0s}}@media only screen and (min-width:1170px){.cd-hero-slider .cd-full-width,.cd-hero-slider .cd-half-width{padding-top:220px}.cd-hero-slider h2,.cd-hero-slider p{margin-bottom:20px}.cd-hero-slider h2{font-size:3.2em}.cd-hero-slider p{font-size:1.6rem}}.cd-slider-nav{position:absolute;width:100%;bottom:0;z-index:2;text-align:center;height:55px;background-color:rgba(0,1,1,.5)}.cd-slider-nav a,.cd-slider-nav li,.cd-slider-nav nav,.cd-slider-nav ul{height:100%}.cd-slider-nav nav{display:inline-block;position:relative}.cd-slider-nav .cd-marker{position:absolute;bottom:0;left:0;width:60px;height:100%;color:rgba(30,144,255,.9);background-color:#fff;box-shadow:inset 0 2px 0 currentColor;-webkit-transition:-webkit-transform .2s,box-shadow .2s;-moz-transition:-moz-transform .2s,box-shadow .2s;transition:transform .2s,box-shadow .2s}.cd-slider-nav .cd-marker.item-2{-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);-o-transform:translateX(100%);transform:translateX(100%)}.cd-slider-nav .cd-marker.item-3{-webkit-transform:translateX(200%);-moz-transform:translateX(200%);-ms-transform:translateX(200%);-o-transform:translateX(200%);transform:translateX(200%)}.cd-slider-nav .cd-marker.item-4{-webkit-transform:translateX(300%);-moz-transform:translateX(300%);-ms-transform:translateX(300%);-o-transform:translateX(300%);transform:translateX(300%)}.cd-slider-nav .cd-marker.item-5{-webkit-transform:translateX(400%);-moz-transform:translateX(400%);-ms-transform:translateX(400%);-o-transform:translateX(400%);transform:translateX(400%)}.cd-slider-nav ul::after{clear:both;content:"";display:table}.cd-slider-nav li{display:inline-block;width:60px;float:left}.cd-slider-nav li.selected a{color:#2c343b}.no-touch .cd-slider-nav li.selected a:hover{background-color:transparent}.cd-slider-nav a{display:block;position:relative;padding-top:35px;font-size:1rem;font-weight:700;color:#a8b4be;-webkit-transition:background-color .2s;-moz-transition:background-color .2s;transition:background-color .2s}.cd-slider-nav a::before{content:'';position:absolute;width:24px;height:24px;top:8px;left:50%;right:auto;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%)}.no-touch .cd-slider-nav a:hover{background-color:rgba(0,1,1,.5)}.cd-slider-nav li:first-of-type a::before{background-position:0 0}.cd-slider-nav li.selected:first-of-type a::before{background-position:0 -24px}.cd-slider-nav li:nth-of-type(2) a::before{background-position:-24px 0}.cd-slider-nav li.selected:nth-of-type(2) a::before{background-position:-24px -24px}.cd-slider-nav li:nth-of-type(3) a::before{background-position:-48px 0}.cd-slider-nav li.selected:nth-of-type(3) a::before{background-position:-48px -24px}.cd-slider-nav li:nth-of-type(4) a::before{background-position:-72px 0}.cd-slider-nav li.selected:nth-of-type(4) a::before{background-position:-72px -24px}.cd-slider-nav li:nth-of-type(5) a::before{background-position:-96px 0}.cd-slider-nav li.selected:nth-of-type(5) a::before{background-position:-96px -24px}@media only screen and (min-width:768px){.cd-slider-nav{height:80px}.cd-slider-nav .cd-marker,.cd-slider-nav li{width:95px}.cd-slider-nav a{padding-top:48px;font-size:1.1rem;text-transform:uppercase}.cd-slider-nav a::before{top:18px}}@media only screen and (min-width:1170px){.cd-main-content{padding:3em 0}.cd-main-content p{font-size:1.6rem}}.no-js .cd-hero-slider li{display:none}.no-js .cd-hero-slider li.selected{display:block}.no-js .cd-slider-nav{display:none}

/*--our-team-css-here*/
.about-main-left{background-image:url(../images/x-copy.png);margin-bottom:3em;max-height:375px;padding-bottom:3em;padding-top:3em;}#about-title{border-bottom:1px solid navy;font-size:63px;font-weight:300;}#about-title-2{border-bottom:1px solid navy;font-weight:300;margin-top:2em;}#about-details{background:#FFF;margin-bottom:5em;margin-top:10px;padding-top:1.5em;}#team-title{border-bottom:1px solid navy;font-weight:300;}.about-jumbo{background-color:#fff;margin-bottom:0;margin-top:.7em;padding:0;}.about-btwn{background:#F5F5F5;height:auto;margin-top:3em;padding:1em;width:100%;}.our-team-lead{float:none;margin:auto;width:100%;}.between-a{margin-left:1em;width:100%;}#team{margin-top:2em;}.block{-moz-border-radius:4px;-webkit-border-radius:4px;background-color:#fff;border-radius:4px;box-shadow:0 2px 2px 0 rgba(0,0,0,.07);margin-bottom:1em;}#team .title{padding:30px 0;}#team .title h2{color:#3e4258;line-height:36px;margin:0;padding:0 10px;}#team .title h3{color:#9295a7;font-size:14px;line-height:16px;margin:0;padding:0 10px;}#team .btn{margin:5px 10px 0 0;}#team p{font-size:13px;line-height:30px;margin-bottom:15px;padding:0 30px;text-align:left;}.portrait{-webkit-transition:border-color .5s;height:200px;margin-bottom:20px;overflow:hidden;padding:0;position:relative;transition:border-color .5s;width:100%;}.portrait-bg img{height:auto;margin-bottom:.25em;margin-left:auto;margin-right:auto;max-width:234px;}.team .row [class*="col-"]:hover .portrait{border-color:#fff;}.portrait img{width:100%;}.social-media{-ms-text-justify:distribute-all-lines;color:#fff;padding:0 30px;text-align:justify;text-justify:distribute-all-lines;width:100%;}.social-media a{color:#3e4258;display:inline-block;font-size:20px;}.social-media a i{-webkit-transition:.3s;transition:.3s;}.social-media a:hover i{color:#444;}.team-prev-1{background-color:#F5F5F5;padding:10px 5px 5px;}.team-prev{background-color:#F5F5F5;padding:0 5px;}.stretch{display:inline-block;font-size:0;line-height:0;width:100%;}.stylish-panel{padding:20px 0;text-align:center;}.stylish-panel > div > div{border:1px solid transparent;border-radius:4px;padding:10px;transition:.2s;}.stylish-panel > div:hover > div{background:rgba(200,200,200,0.1);border:1px solid #c8c8c8;box-shadow:rgba(0,0,0,0.1) 0 5px 5px 2px;margin-top:-10px;transition:.5s;}.stylish-panel > div:hover img{border-radius:50%;}#team .team-portrait,.portrait-bg,.fa-social,.modal-header{text-align:center;}@media max-width 992px{.portrait{height:auto;}}@media min-width 768px and max-width 992px{.team .social-media a{font-size:15px;height:30px;padding-top:3px;width:30px;}}

/*Advisory-CSS*/
#advisory-jumbotron{margin:0;padding:0;width:100%;}.pricing-title{background-color:#5a7b93;padding:3em 0;}.pricing-title h1{color:#fff;font-size:48px;padding-top:.75em;}.pricing-title:hover{background-color:#1E90FF;}.pricing-title a:hover{text-decoration:none;}.advisory-heading{background-color:#fff;margin:0;padding:2.5em 0;}.advisory-description{padding:0 2em;}.advisory-title{margin:.6em 0;}.advisory-end{background-color:#fff;margin-bottom:-1em;padding:3em 0;}.advisory-register-btn{margin-left:30%;}.p-1 .p-2,.p-3{margin-bottom:.7em;}@media all and max-width 800px{.advisory-register-btn{margin:auto;}}
/*Service-CSS*/
#services .services-top{padding:70px 0 50px;}#services .services-list{padding-top:50px;}.jumbo{background-color:#fff;margin-top:-5em;}.service-title-main{border-bottom:1px solid navy;font-size:63px;font-weight:300;}.panel-heading{background-color:#DCDCDC;color:#000;}.panel-body{background-color:#F5F5F5;}.service-hook{padding-bottom:3px;padding-top:8px;}.services-list .service-block{margin-bottom:25px;padding-bottom:1em;}.services-list .service-block .ico{float:left;font-size:38px;}.services-list .service-block .text-block{margin-left:58px;}.services-list .service-block .text-block .name{font-size:22px;font-weight:900;margin-bottom:3px;}.services-list .service-block .text-block .info{border-bottom:1px solid #D3D3D3;font-size:18px;font-weight:300;margin-bottom:10px;padding-bottom:.5em;}.services-list .service-block .text-block .text{font-size:16px;font-weight:300;line-height:1.5;}.highlight{color:#4682B4;font-weight:700;}.faq{background-color:#F5F5F5;padding-top:2em;}.faq-title{background-color:#FFF;background-image:url(../images/faq-background.jpg);color:#FFF;padding:1em 0;}.faq-title h1{background-color:rgba(0,0,0,0.5);margin-left:auto;margin-right:auto;padding:.7em;width:50%;}#accordion .panel-heading{padding:0;}#accordion .panel-title > a{-moz-transition:all 1.2s ease;-ms-transition:all 1.2s ease;-o-transition:all 1.2s ease;-webkit-transition:all 1.2s ease;background-color:#4682B4;color:#F5F5F5;display:block;font-size:18px;font-weight:300;letter-spacing:1.5px;line-height:1.5;outline:none;padding:1.5em .6em;text-decoration:none;}#accordion .panel-title > a:hover{color:#0FF;}.panel-btn:hover,.panel-btn:active,.panel-heading::after{text-decoration:none;}@media all and max-width 800px{#accordion .panel-title > a{background-color:#4682B4;color:#F5F5F5;display:block;font-size:18px;font-weight:300;letter-spacing:1.5px;line-height:1.5;outline:none;padding:1.5em .6em;text-decoration:none;}#accordion .panel-title > a:hover{color:#F5F5F5;font-size:18px;}}
/*Event-CSS*/
#show-jumbo{background:#000 url(../images/TTSS-showcase-03-900x300.png) center center;background-size:cover;color:#FFF;height:100%;overflow:hidden;position:relative;width:100%;}#camp-jumbo{background:#fff url(../images/event-header-image.jpg) center center;background-size:cover;color:#FFF;height:100%;overflow:hidden;position:relative;width:100%;}#team-jumbo{background:#000 url(../images/TTSS-team-bg-header.jpg) center center;background-size:cover;color:#FFF;height:100%;overflow:hidden;position:relative;width:100%;}.main-title{max-width:400px;text-align:center;}.main-title-showcase{background-color:rgba(0,0,0,0);width:auto;}.main-title-camp{background-color:rgba(0,0,0,0.4);width:40%;}.title-row{background-color:#F5F5F5;line-height:1.8;margin-top:-2.1em;padding:1em 0;}.title-row h2{border-bottom:1px solid navy;font-weight:700;margin-bottom:.5em;padding-bottom:.5em;text-align:center;}.camp-event{background-color:rgba(236,239,241,0.3);box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);margin-bottom:1em;padding:0;}.camp-event-header{background:#4682B4;color:#fff;height:auto;margin:0 0 .75em;padding:1em;width:100%;}.camp-event-header a,.camp-event-header a:hover{color:#fff;text-decoration:none;}.camp-event-header h2{padding-bottom:0;text-align:center;text-transform:uppercase;}.camp-event-header p{font-size:18px;margin-left:28%;}.camp-event-features{padding:auto 1em;text-align:center;}.glyphicon-calendar,.glyphicon-time,.fa-map-o{padding-bottom:.5em;}.camp-event-register{margin:auto 2em;padding:1em;text-align:center;}.event-feature-list{padding-bottom:.75em;text-align:left;}.call-action-btn{background:#fe6f5e;border-radius:2px;border-width:0;box-shadow:0 2px 5px 0 rgba(0,0,0,0.26);color:#fff;display:inline-block;height:4em;margin-bottom:3em;outline:none;overflow:hidden;padding:1em;position:relative;text-align:center;text-transform:uppercase;transition:width .3s linear;width:32em;}.call-action-btn:hover{background:#fe6f5e;box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);color:#fff;margin-bottom:3em;width:36em;}.mobile-show-btn-title{display:none;}.showcase-event-container{background:#F0F8FF;box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);margin:2em auto;padding:3em;}#event-logo{margin-left:auto;margin-right:auto;}.disclaimer{font-size:9px;}.price{color:#F5F5F5;}.schools-1{border-right:1px solid grey;}.attending-schools-event-title{font-weight:700;text-decoration:underline;}.highlight{color:#4682B4;font-weight:700;}.vid-container{background-color:#F5F5F5;margin-top:-2em;padding-bottom:2em;padding-top:2em;}.vid-row{padding-top:3em;}.vid-row p{margin-top:3em;}.camp-logo-img,.camp-intro{margin-bottom:2em;}.fa-map-o,.glyphicon-calendar,.glyphicon-time{margin-right:10px;}.register-here-btn,.register-here-btn:hover{color:#FFF;text-decoration:none;}@media max-width 880px{.main-title{background-color:rgba(0,0,0,0);font-size:4.5em;width:100%;}.vid-row p{margin-top:auto;}.camp-logo-img{margin-top:1em;}.mobile-show-btn-title{display:inline;}.call-action-btn{height:auto;margin:1em auto 3em;padding:1em;text-align:center;width:10em;}.call-action-btn:hover{height:auto;margin:1em auto 3em;width:15em;}.camp-event-header p{margin-left:auto;}.glyphicon-calendar,.glyphicon-time,.fa-map-o{margin-right:10px;padding-bottom:.5em;}#camp-jumbo,.mobile-hide-btn-title{display:none;}}
/*Contact-CSS*/
.content{background-color:#4682B4;font-family:Roboto, sans-serif;}.contact-header{background-color:#FFF;background-image:url(../images/contact-background.jpg);height:auto;padding-bottom:1em;width:100%;}.contact-filter{background-color:rgba(255,255,255,0.5);margin-top:2em;padding-left:.3em;padding-right:.3em;}.contact-title{font-size:63px;margin:.3em .2em;padding:.6em 0;}.contact-ttss{margin-top:.2em;}.fa-lg{margin-left:0;margin-right:1em;padding-left:0;}.contact-ttss p{line-height:1.8;padding:0;}.contact-lead{border-left:2px solid grey;font-size:1.5em;margin-bottom:3em;}.fslabel{font-family:Roboto, sans-serif;}.form-title{background-color:#4682B4;border-bottom:2px dashed #FFF;color:#fff;max-width:100%;padding-right:0;}#form-stack-container{margin-top:.5em;padding-top:.5em;}label{color:#F5F5F5;font-size:1.2em;margin-bottom:1em;padding-top:-.4em;text-align:right;width:15em;}input,textarea{margin-bottom:1.5em;margin-left:1em;margin-top:1em;max-width:100%;min-width:20em;width:100%;}tr{margin-bottom:5em;padding-bottom:3em;}.fsrowbody{margin-bottom:5em;width:100%;}.form-div{width:100%;}#fsrow1044223-12{color:#F5F5F5;}@media all and max-width 800px{.contact-lead{padding:.5em;}.contact-lead,.contact-ttss{border-bottom:2px solid grey;border-left:none;}}@media max-width 768px{label{margin-bottom:.5em;margin-top:1em;text-align:left;}#fsrow1044223-12{display:none;}input,textarea{margin:auto;}}
